body * {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    color: black;
    background-color: white;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
}

a {
    color: black;
}

#title {
    margin: 5%;
    font-size: 48px;
    font-weight: bold;
}

#content {
    margin: 1% 2%;
    padding: 6px;
    box-shadow: inset 2px 2px 3px 3px black;
}

#box_left {
    float: left;
    width: 36%;
}

#box_right {
    float: right;
    width: 64%;
}

#line_left {
    white-space: nowrap;
    float: right;
}

#line_right {
    white-space: nowrap;
    float: left;
}

#data_left, #data_main, #data_main_extra, #data_right {
    font-size: 96px;
}

#data_left, #data_right {
    color: #D0D0D0;
}

#data_main, #data_main_extra {
}

#input_tick, #input_play, #input_text {
    border: none;
    margin: 1% 0;
    padding: 6px;
    box-shadow: inset 1px 1px 2px 2px black;
}

#input_tick, #input_unit, #input_play {
    font-size: 36px;
}

#input_tick {
    width: 10%;
}

#input_play {
    width: 30%;
    font-weight: bold;
}

#input_text {
    width: 60%;
    font-size: 24px;
}
